/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7a852e;
  --ifm-color-primary-dark: #757829;
  --ifm-color-primary-darker: #5c7127;
  --ifm-color-primary-darkest: #545d20;
  --ifm-color-primary-light: #929133;
  --ifm-color-primary-lighter: #919935;
  --ifm-color-primary-lightest: #ada73c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a8c225;
  --ifm-color-primary-dark: #a1af21;
  --ifm-color-primary-darker: #93a51f;
  --ifm-color-primary-darkest: #7f881a;
  --ifm-color-primary-light: #b8d529;
  --ifm-color-primary-lighter: #d2d832;
  --ifm-color-primary-lightest: #c1dd4f;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
